nav{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}
.menu{
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-between;
    
}
.menu li{
     padding: 10px 15px;
    
}
button{
    background-color: #308868;
    color: white;
    border: none;
    padding: 12px 16px;
    border-radius: 5px;
}
section{
    text-align: center;
    padding: 80px 20px;
}
section span{
    color: #308868;
}
.hero h1{
    color: #ffffff;
}
section p{
    color: #FFFFFF;
}
section h1{
    font-size: 50px;
}
.hero{
    background-image: url(./assets/hero-bg.png);
}

.note-section{
    padding: 80px 24px;
    text-align: center
}

note-cards{
    background: ;
}

.note-section p{
    color: #627382;
}
.note-cards{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.card{
    background: #FFFFFF;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 18px;
    
}
.card img{
    background-color: #f95555;
    width: 45px;
    height: 45px;
    border-radius: 32px 32px;
}
.brain-container{
    display: flex;
    justify-content: space-around;

}

.brain-container p{
    color: #627382;
    
}
.brain-text li{
    list-style: none;
    text-align: left;
}
.brain-container{
    text-align: left;
}
.early-access-container p{
    color: #627382;

}
.early-access{
    /* background-color: #f7f6f2; */
    padding: 80px 20px;
    text-align: center;
}
.early-access h2{
    font-size: 40px;
    font-style: bold;
}

.early-access-container{
    background-color: #f7f6f2;
    border: 1px solid #f7f6f2;
    padding: 30px 40px;
    /* text-align: center; */
    border-radius: 10px;
    max-width: 1360px;
    text-align: center;
    margin: 0 auto;
}

.footer{
    background-color: rgba(14, 14, 50, 0.955);
    padding: 60px 20px 30px;
    color: #f7f6f2;
    
}
.footer-container{
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    align-items: center;
}
.footer img{
    width: 120px;
    margin-bottom: 15px;

}
.footer1{
    max-width: 300px;
    font-size: 15px;
}
.footer-bottom{
    text-align: center;
    color: #fafafa;
    font-weight: bold;
    border-top: 1px solid #fafafa;
    text-align: center;
     margin-top: 20px; 
     padding-top: 15px;
    margin: 0 auto;
}