nav{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}
.menu{
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-between;
    
}
.menu li{
     padding: 10px 15px;
    
}
button{
    background-color: #308868;
    color: white;
    border: none;
    padding: 12px 16px;
}